<h1>New Post</h1>
<form action="<%= user_posts_url %>" method="post">
  <%= authenticity_token %>

  <label>Post:<br>
    <textarea name="post[body]"><%= @post.body %></textarea>
    <br>
  </label>
<br>
  <label>Links:<br>
    <input type="text" name="links[1][address]"><br>
    <input type="text" name="links[2][address]"><br>
    <input type="text" name="links[3][address]"><br>
  </label>

<% current_user.owned_circles.each do |circle| %>
  <label><%= circle.name %>
    <input type="checkbox"
           name="post[shared_circle_ids][]"
           value="<%= circle.id %>">
  </label>
<% end %>

  <button>Post</button>
</form>