<!DOCTYPE html>
<html>
<head>
  <title>SocialApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/flash_messages" %>
  <% if signed_in? %>
    <h3><%= current_user.email %></h3>
    <form action="<%= session_url %>" method="post">
      <%= authenticity_token %>
      <input type="hidden" name="_method" value="delete">
      <button>Sign out</button>
    </form>
  <% end %>

  <%= yield %>

</body>
</html>
